<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>Flex Flex Flex Flex Flex</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<h1>We're looking !!</h1>
<figure>
  <img src="favicon.ico" alt="logo" style="width:100%">
</figure>

<body onload="init()">
  <form method="get">
    <p id="messages"></p>
    <input id="key" type="hidden" name="key" placeholder="API KEY" />
    <input id="login_cred" type="hidden" name="login_cred" placeholder="Login credentials" />

    {% if warn == True %}
    <p> Warning: Automatic booking was disabled because no login credentials were provided</p>
    {% endif %}

    <button type="submit">FIND ANOTHER CAR</button>
  </form>

  <script>
    function init() {
      new URL(window.location.href).searchParams.forEach((x, y) => {
        if (y === "key") document.getElementById("key").value = x;
        if (y === "login_cred") document.getElementById("login_cred").value = x;
      });
    }
  </script>
  <style></style>
</body>

</html>